.bookingPage {

  &__nav {
    background: #0a0a0a;
    color: #797979;
    a {
      @include transition(all .3s ease);
      color: #797979!important;
      &:hover {
        color: #fff!important;
      }
    }
  }

  &__step {
    @include transition(all .3s ease);
    border-bottom: 1px solid;
    border-color: transparent;
    line-height: 40px;
    cursor: pointer;
    &:hover {
      color: #fff;
      border-color: $primary-color;
    }
    &.active {
      color: #fff;
      border-color: $primary-color;
    }
  }

  &__btn {
    @include transition(all .3s ease);
    color: rgba(255,255,255,.5);
    background: none;
    font-size: 2.2rem;
    top: -4px;
    cursor: pointer;
    &:hover {
      color: #f8f9fa;
    }
  }

  &__count {
    width: 40px;
    height: 40px;
  }

  &__seat {
    @include transition(all .3s ease);
    background: #333;
    padding: .3rem;
    line-height: 2;
    font-size: .9rem;
    cursor: pointer;
    &:hover {
      background: #222;
    }
    &.deactive {
      background: #1b1b1b!important;
      color: #aaa!important;
      cursor: not-allowed!important;
    }
  }
  
}