.page-movies {
  background: #080808;

  &__title {
    font-size: 1rem;
    line-height: 1.5;
  }

  &__decs {
    @include font-size(14px);
    color: #999;
  }

  & .breadcrumb {
    background-color: #1b1b1b;
  }
}