.header {

	&__nav {
	    background: #1b1b1b;
	    box-shadow: 0 8px 12px rgba(0,0,0,.2);
	}

	&__logo {
		@include font-size(24px);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $primary-color;
    text-shadow: 0px 0px 25px $primary-color;
	}

	&__login {
		@include transition(all .3s ease);
		&:hover {
			border-color: $primary-color!important;
		}
		&:after {
			@include pseudo;
	    height: 60%;
	    width: 1px;
	    right: -23px;
	    background: #6d6d6d;
	    top: 8px;
		}
	}
}