.movie {

  &__title {
    @include font-size(16px);
  }

  &__list {
    
    height: 100%;
    overflow: hidden;
    @include bp-sm{ height: 327px }
    @include bp-lg{ height: 330px }
    @include bp-xl{ height: 396px }
    &:hover .movie__box {
      @include bp-xl{ bottom: 0 }
    }
    & img {
      @include transition(all .3s ease);
      @include transform(scale(1))
    }
    &:hover img {
      @include bp-xl{ @include transform(scale(1.1)) }
    }
  }

  &__rating {
    z-index: 20;
    width: 45px;
    height: 30px;
    top: 15px;
    left: 15px;
    font-size: 0px;
    background: url('/assets/icons/bg-movie-rating.png') no-repeat scroll top left transparent;

    &--fix {
      left: 30px!important;
    }
  }

  &__box {
    @include transition(all .3s ease);
    background: rgba(0,0,0,.6);
    bottom: -150px;
  }

  &__btn {
    @include font-size(14px);
    background: #e71a0f;
    cursor: pointer;
    padding: 3px 8px;
    margin: 0 6px;
    &:hover {
      background: #c5170e;
    }
  }

  &__nav > * {
    @include transition(all .3s ease);
    @include font-size(18px);
    background: #101010;
    border: none;
    color: #ddd;
    padding: 0 13px 2px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      background: #1b1b1b;
    }
  }

  &__trailer {
    &--overlay {
      bottom: 0;
      z-index: 9999;
      background: rgba(0,0,0,.8);
    }

    &--box {
      background: #0c0c0c;
      width: 660px;
      height: 360px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 3px;
      z-index: 99999;
    }
  }

  &__close {
    @include transition(all .3s ease);
    @include font-size(20px);
    right: 0;
    bottom: -30px;
    color: #5a5a5a;
    cursor: pointer;
    font-weight: bold;
  }

}