.quickBooking {
  background-color: #000;
  box-shadow: 0 8px 12px rgba(0,0,0,.2);
  height: 55px;

  &:before {
    @include pseudo;
    background-color: #131313;
    height: 100%;
    width: 140px;
    left: 0;
  }

  &__title {
    height: 55px;
    background: #131313;
    padding: 0 30px 0 0;
    z-index: 1;
    color: #f8f9fa;
    &:after {
      @include pseudo;
      top: 0;
      right: -40px;
      border-top: 55px solid transparent;
      border-left: 55px solid #131313;
    }
  }

  &__booth {
    @include font-size(14px);
    z-index: 1;
    height: 55px;
  }

  &__name {
    @include transition(all .5s ease);
  }

  &__slash {
    right: -85px;
    width: 100px;
    overflow: hidden;
    &:after {
      @include pseudo;
      width: 10px;
      height: 100px;
      top: -25px;
      background: #131313;
      transform: rotate(-44deg);
      right: 50px;
    }
  }

  &__text {
    border-bottom: 1px solid #303030;
    height: 28px;
    padding: 5px 2px;
    color: #ddd;
    overflow: hidden;
    // cursor: not-allowed;
    // &--active {
    //   cursor: pointer;
    // }
  }

  &__line {
    @include transition(all .3s ease);
    bottom: 0;
    height: 1px;
    left: 0;
    background: #ab8000;
  }

  &__menu {
    @include transition(all .3s ease);
    bottom: 40px;
    background: #131313;
    padding: 2px 15px;
    box-sizing: border-box;
    font-size: 13px;
    max-height: 200px;
    overflow-y: scroll; 
    left: 0;
    border-radius: 5px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: #1b1b1b; 
    }
    &::-webkit-scrollbar-thumb {
      background: #313131; 
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    & ul {
      margin: 0;
    }
  }

  &__list {
    @include transition(all .3s ease);
    padding: 5px 0;
    color: #969696;
    cursor: pointer;
    border-bottom: 1px solid #272727;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: $primary-color;
    }
  }

}